:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  --green: #1BFD9C;

  color-scheme: light dark;
  color: var(--green);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
}

.app {
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {outline:none;}
input::-moz-placeholder { color: var(--green); }
input::-webkit-input-placeholder { color: var(--green); }

.form {
  width: 100%;
  min-width: 400px;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.main {
  width: 700px;
  margin: 0 auto;
}

.form-input {
  min-width: 300px;
}

.form-input:focus {
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.task-input {
  margin: 7px 0;
  width: 100%;
}

.form-btn,
.form-input,
.task-input {
  font-size: inherit;
  padding: 0.5em 1.5em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
 }
 
.form-btn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}
 
.form-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}
 
.form-btn:hover:before {
  transform: translateX(15em);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex: 1.5;
}

.edit-btn,
.save-btn,
.remove-btn {
  padding: 0;
  border: 1px solid transparent;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: .3s;
}

.edit-btn {
  background: url('./assets/edit.svg');
}

.save-btn {
  background: url('./assets/save.svg');
}

.remove-btn {
  background: url('./assets/delete.svg');
}

.edit-btn:hover,
.save-btn:hover,
.remove-btn:hover {
  border: 1px solid #1BFD9C;
  transition: .3s;
}

.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.task {
  width: 100%;
  list-style: none;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border: 1px solid #1BFD9C;
  border-radius: 8px;
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.task-text-wrapper {
  flex: 5;
  width: 100%
}

.done-list-title {
  position: relative;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*                  checkbox                        */

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 
.checkbox-container {
  flex: 1;
  border-radius: 9px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  background: transparent;
}

.checkbox-checkmark {
  border-radius: 9px;
  position: relative;
  top: 0;
  left: 25%;
  height: 1.3em;
  width: 1.3em;
  background-color: #1bfd9b29;
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

.checkbox-container .checkbox-checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.35em;
  height: 0.6em;
  border: solid #1BFD9C;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .app {
    font-size: 14px;
  }

  .main {
    width: 95%;
    margin: 0 auto;
  }

}

@media (max-width: 634px) {
  #root {
    padding: 0;
  }

  .form {
    width: 100%;
    min-width: 200px;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
  }

  .form-input {
    min-width: 200px;
    margin: 0;
  }

  .form-btn {
    padding: 0.5em 5em;
  }
}
